/Semester 5/Pemrograman Jaringan/Working and Stupidity/EchoProgram/nbproject/private/
/Semester 5/Pemrograman Jaringan/Working and Stupidity/EchoProgram/build/
/Semester 5/Pemrograman Jaringan/Working and Stupidity/EchoProgram/dist/
/Semester 5/Pemrograman Jaringan/Working and Stupidity/EchoProgram/src/echoprogram/test.java
*.exe
/Semester 5/Pemrograman Jaringan/Working and Stupidity/PakWas/nbproject/private/
gklib/

Semester 5/Pemrograman Jaringan/Working and Stupidity/PakWas/
/Semester 5/Pemrograman Jaringan/Working and Stupidity/MultiThreading/nbproject/private/
/Semester 5/Pemrograman Jaringan/Working and Stupidity/MultiThreading/build/
*.tmp
semangat.jpg
